<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.AbnormalMapper">

    <!--异常__全查-->
    <select id="showInventory" resultType="stock">
        select *
        from stock
        <where>
            <if test="date1!=null and date1!=''">
                date>=#{date1}
            </if>
            <if test="date2!=null and date2!=''">
                and date&lt;=#{date2}
            </if>
            and difference=1
        </where>
    </select>


    <!--异常详情-->
    <select id="AbnormalFindAllById" resultType="AbnormalDetails">
       select *
        from stock a,
        abnormal_details b
         where
          a.id=b.stockout_id
           and
            a.id=#{id}
    </select>


    <!--首页的异常查询-->
    <select id="showInventory1" resultType="Abnormal">
       select *
        from stock
        WHERE TimeStampDiff(day ,now(),update_time)>=0 and TimeStampDiff(day ,now(),update_time)&lt;=60 ORDER BY update_time
    </select>


    <!--异常__完成换货-->
    <update id="updateSuccess">
        update stock set signState=3 where id=#{id}
    </update>

    <!--异常__允许换货-->
    <update id="updateInThe">
        update stock set signState=2 where id=#{id}
    </update>

    <!--异常__允许换货-->
    <update id="qianpi">
        update stock set signState=1 where id=#{id}
    </update>

    <!--添加日志-->
    <insert id="log">
        INSERT INTO log VALUE (null,(SELECT count(b.id) FROM stock a LEFT JOIN abnormal_details b ON a.id=b.stockout_id WHERE a.id=#{id}),(SELECT cause FROM stock WHERE id=#{id}),now())
    </insert>

    <!--过期查询-->
    <select id="timeOut" resultType="Log">
        select count(*) as num,
        "过期" as state
        from stock
        <where>

            <if test="b != null and b != ''">
                date >= #{b}
            </if>
            <if test="c != null and c != ''">
                AND date &lt;= #{c}
            </if>
            and
            TimeStampDiff(day ,now(),update_time)&lt;=0
            ORDER BY update_time
        </where>
    </select>

    <!--查询损失金额-->
    <select id="moneyOut" resultType="Log">
        select sum(money) as num,
        "损失金额" as state
        from stock
        <where>
            <if test="b != null and b != ''">
                date >= #{b}
            </if>
            <if test="c != null and c != ''">
                AND date &lt;= #{c}
            </if>
            and TimeStampDiff(day ,now(),update_time)&lt;=0
             and cause&lt;=3
            ORDER BY update_time
        </where>
    </select>

</mapper>
