<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.CommodityMapper">
    <select id="ShowCommodity" resultType="Commodity">
        SELECT * FROM commodity
    </select>

    <select id="CommodityParticular" resultType="Commodity">
        SELECT * FROM commodity WHERE id=#{id}
    </select>

    <!--商品添加 CommodityInformationAdd-->
    <insert id="CommodityInformationAdd">
        insert into commodity(name,model,specification,manufacturers,productLine,batchNumber,moneyInput,moneyOut)
        value(#{name},#{model},#{specification},#{manufacturers},#{productLine},#{batchNumber},#{moneyInput},#{moneyOut});
    </insert>

</mapper>
