<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.SurgeryMapper">
    <select id="ShowSurgery" resultType="Surgicaldrape">
        SELECT *
        FROM surgicalDrape
        <where>
            <if test="date_1 != null and date_1 != ''">
                sign_date>=#{date_1}
            </if>
            <if test="date_2 != null and date_2 != ''">
                AND sign_date&lt;=#{date_2}
            </if>
        </where>
    </select>

    <select id="CommissionedProcessing" resultType="Consignedprocessing">
        SELECT *
        FROM consignedProcessing
        <where>
            <if test="date_1 != null and date_1 != ''">
                date>=#{date_1}
            </if>
            <if test="date_2 != null and date_2 != ''">
                AND date&lt;=#{date_2}
            </if>
        </where>
    </select>

    <select id="SurgeryParticulars" resultType="SurgicaldrapeDetails">
        SELECT *,sum(a.count) as sumcount
        FROM surgicalDrape_details a
        LEFT JOIN surgicalDrape b ON a.stockout_id=b.id
        WHERE a.stockout_id=#{id} GROUP BY a.id
    </select>

    <update id="Sign">
        UPDATE surgicalDrape SET signState=#{q} WHERE id=#{id}
    </update>

    <insert id="AddSurgery" parameterType="Receipt">
        INSERT INTO receipt VALUE
        <foreach collection="list" item="l" separator=",">
            (null,#{l.name},#{l.model},#{l.specification},#{l.unit},#{l.employCount},#{l.performer},#{l.sex},#{l.surgicalDrapeId},now(),now(),1,#{l.date},#{l.num},#{l.number},#{l.patientName})
        </foreach>
    </insert>

    <insert id="AddSurgeryOrder" parameterType="Surgicaldrape">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO surgicalDrape (id,number,customer,administrativeOffice,proposer,write_date,signState)
        VALUE (null,#{number},#{customer},#{administrativeOffice},#{proposer},#{writeDate},0)
    </insert>

    <insert id="AddSurgeryOrder1">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO surgicalDrape_details (id,name,model,specification,unit,count,unitPrice,money,stockout_id) VALUE
        <foreach collection="li" item="l" separator=",">
            (null,#{l.name},#{l.model},#{l.specification},#{l.unit},#{l.count},#{l.unitPrice},#{l.money},#{id})
        </foreach>
    </insert>

    <insert id="AddManufacturing">
        INSERT INTO consignedProcessing (id,wtdw,sbmc,sbsl,zqsj,date,name,model,specification,unit,count,unitPrice,money) VALUE
        <foreach collection="li" item="l" separator=",">
            (null,#{co.wtdw},#{co.sbmc},#{co.sbsl},#{co.zqsj},#{co.date},#{l.name          },#{l.model         },#{l.specification },#{l.unit          },#{l.count         },#{l.unitPrice     },#{l.money         })
        </foreach>
    </insert>

    <select id="showReceipts" resultType="Receipt">
        SELECT *
        FROM receipt
        WHERE surgicalDrape_id=#{id}
    </select>
</mapper>
