<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.SurgeryMapper">

    <!--展示手术单and备货单-->
    <select id="ShowSurgery" resultType="Surgicaldrape">
        SELECT *
        FROM surgicalDrape
        <where>
            <if test="date_1 != null and date_1 != ''">
                sign_date>=#{date_1}
            </if>
            <if test="date_2 != null and date_2 != ''">
                AND sign_date&lt;=#{date_2}
            </if>
        </where>
    </select>

    <!--零件库__全查-->
    <select id="CommissionedProcessing" resultType="Consignedprocessing">
        SELECT *
        FROM consignedProcessing
        <where>
            <if test="date_1 != null and date_1 != ''">
                date>=#{date_1}
            </if>
            <if test="date_2 != null and date_2 != ''">
                AND date&lt;=#{date_2}
            </if>
        </where>
    </select>

    <!--手术单详情and备货单详情-->
    <select id="SurgeryParticulars" resultType="SurgicaldrapeDetails">
        SELECT *,sum(a.count) as sumcount
        FROM surgicalDrape_details a
        LEFT JOIN surgicalDrape b ON a.stockout_id=b.id
        WHERE a.stockout_id=#{id} GROUP BY a.id
    </select>

    <!--修改状态-->
    <update id="Sign">
        UPDATE surgicalDrape SET signState=#{q} WHERE id=#{id}
    </update>

    <!--添加日志-->
    <insert id="log">
        INSERT INTO log VALUE (null,1,"手术单进行",now())
    </insert>

    <!--添加回执单-->
    <insert id="AddSurgery" parameterType="Receipt">
        INSERT INTO receipt VALUE
        <foreach collection="list" item="l" separator=",">
            (null,#{l.name},#{l.model},#{l.specification},#{l.unit},#{l.employCount},#{l.performer},#{l.sex},#{l.surgicalDrapeId},now(),now(),1,#{l.date},#{l.num},#{l.number},#{l.patientName})
        </foreach>
    </insert>

    <!--填单__备货单__手术单__添加-->
    <insert id="AddSurgeryOrder" parameterType="Surgicaldrape">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO surgicalDrape (id,number,customer,administrativeOffice,proposer,write_date,signState)
        VALUE (null,#{number},#{customer},#{administrativeOffice},#{proposer},#{writeDate},0)
    </insert>

    <!--添加详情-->
    <insert id="AddSurgeryOrder1">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO surgicalDrape_details (id,name,model,specification,unit,count,unitPrice,money,stockout_id) VALUE
        <foreach collection="li" item="l" separator=",">
            (null,#{l.name},#{l.model},#{l.specification},#{l.unit},#{l.count},#{l.unitPrice},#{l.money},#{id})
        </foreach>
    </insert>

    <!--填单__委托加工单__添加-->
    <insert id="AddManufacturing">
        INSERT INTO consignedProcessing (id,wtdw,sbmc,sbsl,zqsj,date,name,model,specification,unit,count,unitPrice,money) VALUE
        <foreach collection="li" item="l" separator=",">
            (null,#{co.wtdw},#{co.sbmc},#{co.sbsl},#{co.zqsj},#{co.date},#{l.name          },#{l.model         },#{l.specification },#{l.unit          },#{l.count         },#{l.unitPrice     },#{l.money         })
        </foreach>
    </insert>

    <!--回执单查询-->
    <select id="showReceipts" resultType="Receipt">
        SELECT *
        FROM receipt
        WHERE surgicalDrape_id=#{id}
    </select>

    <!--内容表的查询-->
    <select id="TableContents" resultType="TableContents">
        SELECT *
        FROM TableContents
    </select>

    <!--内容表全查-->
    <select id="finishedProduct" resultType="FinishedProduct">
        SELECT *
        FROM finishedProduct
    </select>

    <!--添加新建表-->
    <insert id="NewTable" parameterType="TableContents">
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO finishedProduct VALUE (null,#{name},now())
    </insert>

    <!--添加详情-->
    <insert id="NewTable1">
        INSERT INTO TableContents VALUE
        <foreach collection="ta" item="t" separator=",">
            (null,#{t.name},#{t.specification},#{t.unit},#{t.num},#{t.remark},#{id})
        </foreach>
    </insert>
</mapper>
