<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.UserMapper">
    <!--   登录 -->
    <select id="login" parameterType="User" resultType="User">
        SELECT *
        FROM user
        WHERE username=#{username}
        AND password=#{password}
    </select>

    <select id="setlectedProv" resultType="spring.pojo.AoyoProvince">
       select `name`,code from aoyo_province
    </select>

    <select id="selectCity" resultType="spring.pojo.AoyoCity">

        select * from aoyo_city where province_code = #{asd}

    </select>

    <select id="selectAreas" resultType="spring.pojo.AoyoArea">

select * from aoyo_area where city_code = #{asd}

    </select>


    <select id="selectAddLabelAll" resultType="spring.pojo.AoyoAddressLabel">

        select label_id,label_name from aoyo_address_label;

    </select>

    <insert id="addressInsert">

        insert into aoyo_address
        (consignee_name, address_label_id, telephone, province_id, city_id, county_id,
         address_details, default_address, creat_time
         )
         values
         (#{consigneeName},#{addressLabelId},#{telephone},#{provinceId},#{cityId},#{countyId},
         #{addressDetails}
         ,#{defaultAddress},now()
         );

    </insert>


    <!--活动图片查询-->
    <!--List<aoyoPlatformImage> huodong();-->
    <select id="huodong" resultType="aoyoPlatformImage">
        select * from aoyo_platform_image;
    </select>

    <!--保养套餐查询-->
    <!--List<aoyoCommoditySuit> taocan();-->
    <select id="taocan" resultType="aoyoCommoditySuit">
        select * from aoyo_order_detail a,
         aoyo_commodity_suit b,
          aoyo_commodity_img c
           where
            b.commodity_suit_id=a.package_commodity_id
             and
              a.order_detail_id=c.commodity_id
    </select>

    <!--轮播图查询-->
    <!--List<AoyoCommodityImg> lunbo();-->
    <select id="lunbo" resultType="aoyoCommodityImg">
        select commodity_img_url from aoyo_commodity_img where commodity_img_id&lt;6;
    </select>

    <!--优惠券查询-->
    <!--List<aoyoCoupon> youhuiquan();-->
    <select id="youhuiquan" resultType="aoyoCoupon">
        SELECT coupon_name,
        coupon_desc,
        coupon_amt,
        coupon_end_time,
        coupon_num,
        type_name,
        coupon_type_id,
        type_desc
        from
        aoyo_coupon,
        aoyo_coupon_type
         where
          aoyo_coupon.coupon_type_id
           =
           aoyo_coupon_type.type_id
    </select>

    <!--首页分类查询-->
    <!--List<aoyoPanel> fenlei();-->
    <select id="fenlei" resultType="aoyoPanel">
        SELECT
        panel_id,
        jump_path,
        type_name,
        creat_time,
        type_id,
        panel_type,
        panel_name,
        sort,
        panel_url,
        delete_flag
        from
        aoyo_panel where panel_id&lt;5
    </select>



    <resultMap id="shopping" type="Goshopping">
        <id property="shoppingCartId" column="shopping_cart_id"></id>
        <result property="commodityId" column="commodity_id"></result>
        <result property="commodityName" column="commodity_name"></result>
        <result property="commoditySellingPrice" column="commodity_selling_price"></result>
        <result property="enabledStatic" column="enabled_static"></result>
        <result property="commodityStockNumber" column="commodity_stock_number"></result>
        <result property="discountAmount" column="discount_amount"></result>
        <result property="joinShoppingCartCount" column="join_shopping_cart_count"></result>
        <result property="groupName" column="group_name"></result>



        <collection property="aoyoCommodityList" ofType="AoyoCommodity">
            <id property="commodityId" column="commodity_id"></id>
            <result property="commodityNumber" column="commodity_number"></result>
            <result property="commodityName" column="commodity_name"></result>
            <result property="brandId" column="brand_id"></result>
            <result property="typeId" column="type_id"></result>
            <result property="groupId" column="group_id"></result>
            <result property="commdityWeight" column="commdity_weight"></result>
            <result property="commoditySellingPrice" column="commodity_selling_price"></result>
            <result property="commodityCostPrice" column="commodity_cost_price"></result>
            <result property="commodityStatus" column="commodity_status"></result>
            <result property="commodityComeOutTime" column="commodity_come_out_time"></result>
            <result property="commodityDesc" column="commodity_desc"></result>
            <result property="commodityEntry" column="commodity_entry"></result>
            <result property="commodityLastupdateTime" column="commodity_lastupdate_time"></result>
            <result property="commoditySort" column="commodity_sort"></result>
            <result property="deleteFlag" column="delete_flag"></result>
            <result property="commodityStockId" column="commodity_stockId"></result>
            <result property="commodityStockTypeName" column="commodity_stock_type_name"></result>
            <result property="commodityStockNumber" column="commodity_stock_number"></result>
            <result property="commodityBrandId" column="commodity_brand_id"></result>
            <result property="commodityBrandName" column="commodity_brand_name"></result>
            <result property="telephone" column="telephone"></result>
            <result property="commodityBrandUrl" column="commodity_brand_url"></result>
            <result property="commodityBrandDesc" column="commodity_brand_desc"></result>
            <result property="commodityBrandStatus" column="commodity_brand_status"></result>
            <result property="sort" column="sort"></result>
            <result property="customId" column="custom_id"></result>
            <result property="endUpdateOperator" column="end_update_operator"></result>
            <result property="endUpdateTime" column="end_update_time"></result>
            <result property="classId" column="class_id"></result>
            <result property="className" column="class_name"></result>
            <result property="parentClassId" column="parent_class_id"></result>
            <result property="classDesc" column="class_desc"></result>
            <result property="statusId" column="status_id"></result>
            <result property="classIncomeRatio" column="class_income_ratio"></result>
            <result property="collection" column="collection"></result>


            <collection property="imgs" ofType="AoyoCommodityImg">
                <id column="commodity_img_id" property="commodityImgId"></id>
                <result column="commodity_id" property="commodityId"></result>
                <result column="commodity_img_desc" property="commodityImgDesc"></result>
                <result column="commodity_img_url" property="commodityImgUrl"></result>
                <result column="commodity_img_index" property="commodityImgIndex"></result>
                <result column="commodity_img_sort" property="commodityImgSort"></result>
                <result column="commodity_img_status" property="commodityImgStatus"></result>
                <result column="commodity_img_lastupdate_time" property="commodityImgLastupdateTime"></result>
                <result column="delete_flag" property="deleteFlag"></result>
            </collection>

        </collection>
    </resultMap>

    <!--购物车列表查询-->
    <!--List<goshopping> goshopping();-->
    <select id="goshopping" resultMap="shopping">
        select distinct *,collection.is_effective as collection from aoyo_shopping_cart as shopping
        LEFT JOIN aoyo_commodity as commodity on commodity.commodity_id=shopping.commodity_id
        LEFT JOIN aoyo_commodity_brand as brand on commodity.brand_id=brand.commodity_brand_id
        LEFT JOIN aoyo_commodity_class as class on commodity.type_id=class.class_id
        LEFT JOIN aoyo_commodity_img as img on commodity.commodity_id=img.commodity_id
        LEFT JOIN aoyo_commodity_norms as norms on commodity.commodity_id=norms.commodity_id
        LEFT JOIN aoyo_commodity_collection as collection on commodity.commodity_id=collection.commodity_id
        LEFT JOIN aoyo_order as orders on commodity.commodity_id=orders.commodity_id
        LEFT JOIN aoyo_commodity_comment as comments on commodity.commodity_id=comments.commodity_id
        LEFT JOIN sys_group as groups on groups.group_id=orders.group_id
        LEFT JOIN aoyo_commodity_stock as stocks on stocks.commodity_id=commodity.commodity_id
    </select>
<!--
    <select id="goshopping" resultType="goshopping">
        SELECT
	    a.shopping_cart_id,
        a.join_shopping_cart_count,
	    b.commodity_id,
	    b.commodity_name,
	    b.commodity_selling_price,
	    a.enabled_static,
	    c.commodity_stock_number,
	    d.discount_amount,
        e.group_name

    FROM
	    aoyo_shopping_cart a,
	    aoyo_commodity b,
	    aoyo_commodity_stock c,
	    aoyo_order d,
        sys_group e
    WHERE
	    a.commodity_id = b.commodity_id
        AND b.commodity_id = c.commodity_id
        AND c.commodity_id = d.commodity_id
        AND d.group_id = e.GROUP_ID
    </select>
-->

    <!--关注商品查询-->
    <!--List<GuanZhuShop> guanzhushop();-->
    <select id="guanzhushop" resultType="GuanZhuShop">
        SELECT
	b.commodity_name,
  b.commodity_selling_price,
  a.commodity_collection_id,
  a.is_effective,
(SELECT sum(aoyo_commodity_collection.commodity_id=84) from aoyo_commodity_collection ) as collectionCount,
 c.commodity_img_url

FROM

aoyo_commodity_collection a,
	aoyo_commodity b,
	aoyo_commodity_img c
WHERE
	a.commodity_id = b.commodity_id
AND b.commodity_id = c.commodity_id
    </select>

    <!--个人中心优惠券查询-->
    <!--List<AoyoCoupon> myyouhuiquan();-->
    <select id="myyouhuiquan" resultType="aoyoCoupon">
        SELECT
	a.coupon_name,
	a.coupon_num,
	a.coupon_type_id,
	a.coupon_amt,
	a.coupon_end_time,
	a.coupon_desc,
    a.coupon_status_id,
    c.status_name
FROM
	aoyo_coupon a,
	aoyo_coupon_type b,
	aoyo_coupon_status c
WHERE
	a.coupon_type_id = b.type_id
AND a.coupon_status_id = c.status_id
    </select>



    <select id="moblieLogin" resultType="spring.pojo.AoyoCustom">

        select * from aoyo_custom where mobile = #{mobile}

    </select>

    <select id="selectByCustom" resultType="spring.pojo.AoyoCustom">

        select * from aoyo_custom where custom_id = #{customId}

    </select>

    <update id="successCustomUp">

       update aoyo_custom
        set
        nickname=#{nickname},name=#{name},mobile=#{mobile},custom_gender=#{customGender},
        custom_birthday=#{customBirthday},update_time=now() where custom_id=#{customId}

    </update>

    <!--根据登录Id查询所有订单-->
    <select id="selectShowOder" resultType="spring.pojo.MyAddressList">
SELECT
shangpin.commodity_name,pinpai.commodity_brand_name,dingdan.order_amount from
 aoyo_order as dingdan
LEFT JOIN aoyo_custom `user` on dingdan.custom_id = `user`.custom_id

LEFT JOIN aoyo_commodity as shangpin on shangpin.commodity_id = dingdan.commodity_id

LEFT JOIN aoyo_commodity_brand as pinpai on shangpin.brand_id = pinpai.commodity_brand_id where `user`.custom_id = #{customID}


    </select>


    <!--购物车列表查询升级版-->
    <!--List<Goshopping> goshoppings();-->
    <select id="goshoppings" resultType="goshopping">
    SELECT
	a.shopping_cart_id,
  a.join_shopping_cart_count,
	b.commodity_id,
	b.commodity_name,
	b.commodity_selling_price,
	a.enabled_static,
	c.commodity_stock_number,
	d.discount_amount,
	e.commodity_img_url,
  f.group_name
FROM
	aoyo_shopping_cart a,
	aoyo_commodity b,
	aoyo_commodity_stock c,
	aoyo_order d,
  aoyo_commodity_img e,
  sys_group f
WHERE
	a.commodity_id = b.commodity_id
AND b.commodity_id = c.commodity_id
AND c.commodity_id = d.commodity_id
AND d.commodity_id = e.commodity_id
AND d.group_id = f.GROUP_ID
    </select>

    <update id="upDefaultAddress">

        update aoyo_address set default_address=2 where custom_id = #{customId}

    </update>

    <!--    删除收货地址-->
    <delete id="deleAddress">

        delete from aoyo_address  where address_id = #{addressId}

    </delete>



</mapper>
