<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.UserMapper">
    <select id="login" parameterType="User" resultType="User">
        SELECT *
        FROM user
        WHERE username=#{username}
        AND password=#{password}
    </select>

    <select id="showInventory" resultType="Stock">
        SELECT * FROM stock
    </select>

    <!--用户管理__全查-->
    <!--List<User> userFandAll();-->
    <select id="userFandAll" resultType="User">
      select * from user
    </select>

    <!--用户管理__添加-->
    <!--int userAdd(User user);-->
    <insert id="userAdd">
        insert into user(username,password,grade_Id) value(#{username},#{password},#{gradeId});
    </insert>
</mapper>
