<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.VenderMapper">
    <select id="findVender" resultType="Agency">
        SELECT a.*,count(DISTINCT(b.name)) productLineNum, count(DISTINCT(d.`name`)) productQuantity
        FROM agency a
        LEFT JOIN product_line b ON a.id=b.agency_id
        LEFT JOIN product d ON b.id=d.product_line_id
        GROUP BY a.name
    </select>

    <select id="ParticularSelect" resultType="ProductLine">
        SELECT * FROM product_line WHERE agency_id=#{id}
    </select>

    <resultMap id="Particular" type="Agency" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="productLines" column="id" ofType="ProductLine" select="spring.dao.VenderMapper.ParticularSelect" autoMapping="true"/>
    </resultMap>

    <select id="venderListParticular" resultMap="Particular">
        SELECT *
        FROM agency WHERE id=#{id}
    </select>

    <update id="UpdataVender" parameterType="Agency">
        UPDATE agency SET name=#{name},date=#{date}
        <if test="credentials != null and credentials !=''">
            ,credentials=#{credentials}
        </if>
        <if test="businessLicense != null and businessLicense !=''">
            ,businessLicense=#{businessLicense}
        </if>
        <if test="credentials1 != null and credentials1 !=''">
            ,credentials1=#{credentials1}
        </if>
        WHERE id=#{id}
    </update>

    <update id="UpdataProductLine" parameterType="ProductLine">
        INSERT INTO product_line (id,name,address,Validity_of_agency,agency_id) VALUE
        <foreach collection="lines" item="l" separator=",">
            (null,#{l.name},#{l.address},#{l.validityOfAgency},#{l.id})
        </foreach>
    </update>

    <update id="delectProductLine">
        DELETE FROM product_line WHERE id IN (
        <foreach collection="id" item="l" separator=",">
            #{l}
        </foreach>)
    </update>

    <insert id="AddAgency" parameterType="Agency">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO agency (id,name,date,credentials,credentials1,businessLicense)
        VALUE (null,#{name},#{date},#{credentials},#{credentials1},#{businessLicense})
    </insert>

    <insert id="addLines" parameterType="ProductLine">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        INSERT INTO product_line (id,name,address,Validity_of_agency,agency_id) VALUE (null,#{name},#{address},#{validityOfAgency},#{agencyId})
    </insert>

    <insert id="addProduct" parameterType="ProductLine">
        INSERT INTO product (id,name,product_line_id) VALUE
        <foreach collection="str" item="i" separator=",">
            (null,#{i},#{id})
        </foreach>
    </insert>

    <update id="UpdataStock" parameterType="Stock">
        UPDATE stock SET name=#{name},count=#{count },model=#{model},specification=#{specification } ,unit=#{unit } ,money=#{money } ,unitPrice=#{unitPrice } WHERE id=#{moneyOut}
    </update>

</mapper>
