<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.VenderMapper">
    <select id="findVender" resultType="Agency">
        SELECT a.*,count(DISTINCT(b.name)) productLineNum, count(DISTINCT(d.`name`)) productQuantity
        FROM agency a
        LEFT JOIN product_line b ON a.id=b.agency_id
        LEFT JOIN product_line_product c ON b.id=c.product_line_id
        LEFT JOIN product d ON c.product_id=d.id
        GROUP BY a.name
    </select>

    <select id="ParticularSelect" resultType="ProductLine">
        SELECT * FROM product_line WHERE agency_id=#{id}
    </select>

    <resultMap id="Particular" type="Agency" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="productLines" column="id" ofType="ProductLine" select="spring.dao.VenderMapper.ParticularSelect" autoMapping="true"/>
    </resultMap>

    <select id="venderListParticular" resultMap="Particular">
        SELECT *
        FROM agency WHERE id=#{id}
    </select>

    <update id="UpdataVender" parameterType="Agency">
        UPDATE agency SET name=#{name},date=#{date} WHERE id=#{id}
    </update>

    <update id="UpdataProductLine" parameterType="ProductLine">
        INSERT INTO product_line (id,name,address,Validity_of_agency,agency_id) VALUE
        <foreach collection="lines" item="l" separator=",">
            (null,#{l.name},#{l.address},#{l.validityOfAgency},#{l.id})
        </foreach>
    </update>

    <update id="delectProductLine">
        DELETE FROM product_line WHERE id IN (
        <foreach collection="id" item="l" separator=",">
            #{l}
        </foreach>)
    </update>
</mapper>
